[credential "https://github.com"]
	helper = !gh auth git-credential

[credential "https://gist.github.com"]
	helper = !gh auth git-credential

[user]
	email = 96561881+r4ai@users.noreply.github.com
	name = rai

[core]
	quotepath = false
{{- if eq .chezmoi.os "windows" }}
  editor = code --wait
  sshCommand = C:/Windows/System32/OpenSSH/ssh.exe
{{- else }}
	editor = nvim
{{- end }}
  autocrlf = input

[pull]
  rebase = true

[init]
  defaultBranch = main

[interactive]
{{- if ne .chezmoi.os "windows" }}
  diffFilter = delta --color-only --features=interactive
{{- end }}

[delta]
  features = decorations

[delta "interactive"]
  keep-plus-minus-markers = false

[delta "decorations"]
  commit-decoration-style = blue ol
  commit-style = raw
  file-style = omit
  hunk-header-decoration-style = blue box
  hunk-header-file-style = red
  hunk-header-line-number-style = "#067a00"
  hunk-header-style = file line-number syntax

[ghq]
  root = ~/src/repos
